{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true
  },
  "globals": {
    "__WEBPACK__": true
  },
  "rules": {
    "indent": [0, "tab"],
    "func-style": [2, "declaration"],
    "max-params": [2, 3],
    "no-use-before-define": [2, "nofunc"],
    "space-in-brackets": [0],
    "react/jsx-quotes": 1,
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "key-spacing": 0
  }
}
