@import "../_base.less";

.multiplication-table__outer-container {
    position: relative;
    &.is-scrollable-x {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
.multiplication-table__container.is-scrollable-y {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.multiplication-table {
    tbody th:first-child {
        border-top: 0;
        border-bottom: 0;
        border-right: 2px solid @table-border-color;
    }
    th,
    td {
        text-align: right;
    }
    thead,
    tbody {
        display: table;
        table-layout: fixed;
    }
    thead {
        position: absolute;
        top: 0;
        background: white;
        th {
            &:first-child {
                margin-bottom: -2px;
                border-bottom: 2px solid white;
            }
        }
    }
}
