@import "../_base.less";

.parameters__primes-length {
    margin: 1em 0;
    label {
        font-weight: 300;
        font-size: @font-size-h4;
    }
}
.parameters {
    input {
        width: 70px;
        padding: 2px 4px;
        margin-left: 6px;
        border: 1px solid @gray-lighter;
        &:active {
            border-color: @component-active-bg;
            box-shadow: 0 0 6px @component-active-bg;
        }
    }
}
.parameters__help {
    font-size: 0.9em;
    color: @gray-light;

    .glyphicon {
        font-size: 1.1em;
    }

    @media (min-width: 767px) {
        display: inline-block;
        vertical-align: top;
        width: 38%;
        margin-left: 26px;

        .glyphicon {
            margin-left: -17px;
        }
    }
}

.parameters__table-length {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s;
    .is-abbreviated &,
    .is-tableLength-modified & {
        max-height: 3em;
        transition-duration: 1s;
    }
}
